.gradient-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-image: linear-gradient(
      rgba(255, 216, 137, 0.6),
      rgba(255, 201, 142, 0.6)
    ),
    url("./assets/images/contact-background.jpg");
}

#form-container {
  animation: fadeInSlideUp 0.3s ease-in;
  max-width: 500px;
}

.form-background {
  background-color: var(--dark-green);
}

.form-control {
  background-color: var(--bright-orange);
}

.form-control:hover,
.form-control:focus {
  /* border: 2px solid var(--bright-green); */
  outline: 2px solid var(--bright-green);
  outline-offset: 2px;
}

input:focus:required:invalid {
  outline: 2px solid var(--red);
  background-color: rgba(250, 98, 98, 0.8);
}
input:required:valid {
  background-color: var(--bright-orange);
}

/* .form-control:invalid {
  outline: 2px solid var(--red);
  background-color: rgba(250, 98, 98, 0.8);
} */

.submit-button {
  background-color: var(--dark-orange);
}

#thank-you-note {
  background-color: var(--dark-green);
  color: #fffcf2;
  font-size: 1rem;
  top: 0;
  text-align: center;
  text-shadow: 1px 1px black;
  border-radius: 10px;
  align-items: center;
  display: none;
  animation: fadeInSlideUp 0.3s ease-in;
}

#thank-you-note h2 {
  margin-top: 12vh;
}

#thank-you-note h3 {
  padding: 15px 0;
}

.submitted-ok {
  font-size: 300%;
  padding: 15px 0;
}

@media screen and (max-width: 1200px) {
  /* thank you note */

  #thank-you-note {
    width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  /* thank you note */

  #thank-you-note {
    width: 90vw;
  }
}
