/* DARRACH ORIGINAL CODE - Johnny edit for Bootstrap  */

/* Activities */

#activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.activity {
  box-shadow: var(--primary-shadow);
  padding: 1rem;
  width: clamp(280px, 100%, 500px);
  display: flex;
  flex-direction: column;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  border-radius: 5px;
  gap: 0.5rem;
  color: var(--dark-grey);
  transform: translateY(50px);
  opacity: 0;
  animation: fadeInSlideUp 1s ease forwards;
  color: var(--off-black);
}

.activity-name {
  text-transform: uppercase;
  color: var(--off-black);
  font-size: 1.4rem;
}

.activity-location {
  font-size: 1.2rem;
  text-decoration: underline;
}

.activity-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.2rem;
  gap: 0.25rem;
  font-size: small;
  margin: 0;
  padding: 0;
}

.activity-list li {
  border-radius: 20px;
  background-color: var(--bright-green);
  padding: 0.25rem 0.5rem;
}

.activity-links {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.activity-links a {
  display: flex;
  align-items: center;
}

.favourite-btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--red);
}
.favourite-btn:hover,
.favourite-btn:focus {
  background-color: whitesmoke;
  filter: brightness(1.05);
}

.favourite-btn:hover i,
.favourite-btn:focus i {
  color: var(--red);
}

.favourite-btn i {
  color: white;
}

.fly-btn {
  padding: 0.5rem;
}

.btn {
  aspect-ratio: 1;
  border-radius: 100%;
  font-size: 1.6rem;
  transition: 150ms;
}

.btn:hover,
.btn:focus {
  transform: scale(0.98);
  filter: brightness(1.2);
  color: var(--off-black);
}

/* MAP */

#map {
  height: 100%;
  min-height: 85vh;
  border-radius: 10px;
  z-index: -1;
}

.map-container {
  position: relative;
  padding: 1rem;
}

.map-btns-container {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--dark-green);
  width: fit-content;
  border-radius: 50px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40;
}
