/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --bright-green: #66cc33;
  --green: #298470;
  --dark-green: #2f413d;
  --bright-blue: #0096ff;
  --blue: #4267b2;
  /* changing to aerlingus green - Juan */
  --aeaDarkGreen: #006272;
  --bright-orange: #ffac1c;
  --orange: #ff883e;
  --bright-orange: #fe9452;
  --dark-orange: rgb(193, 78, 6);
  --bright-red: #ee4b2b;
  --red: #d22b2b;
  --bright-violet: #cf9fff;
  --violet: #7f00ff;
  --dark-grey: #43464b;
  --off-black: #111111;
  --primary-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

/* johnny testing */
.map-colour {
  background-color: rgba(47, 65, 61, 0.9);
}

/* end johnny testing */

body {
  /* display: flex;
  flex-direction: column; */
  background-color: var(--aeaDarkGreen);
  height: 100%;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

/* DARRACH ORIGINAL CODE - Johnny edit for Bootstrap */

/*.main-container {
  display: grid;
  gap: 1rem;
  background-color: blanchedalmond;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  min-height: 90vh;
  flex: 1;
}*/

/*.map-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}*/

/*#map {
  flex: 1;
  border-radius: 10px;
  box-shadow: var(--primary-shadow);
  border: 1px solid var(--off-black);
}*/

/*#information {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: #0096ff;
  padding: 1rem;
  gap: 0.5rem;
}*/

/*#flag {
  width: clamp(50px, 22.5vw, 300px);
  border-radius: 10px;
}*/

/*.btn-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0.25rem;
}*/

/*.btn:nth-child(2) {
  background-color: var(--blue);
}*/

/*.btn:nth-child(2):hover,
.btn:nth-child(2):focus {
  background-color: var(--bright-blue);
}*/

/*.btn:nth-child(3) {
  background-color: var(--orange);
}*/

/*.btn:nth-child(3):hover,
.btn:nth-child(3):focus {
  background-color: var(--bright-orange);
}*/

/*.btn:nth-child(4) {
  background-color: var(--violet);
}*/

/*.btn:nth-child(4):hover,
.btn:nth-child(4):focus {
  background-color: var(--bright-violet);
}*/

/*.btn {
  width: fit-content;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--off-black);
  background: var(--green);
  font-weight: bolder;
}*/

/*.btn:hover,
.btn:focus {
  background-color: var(--bright-green);
  cursor: pointer;
  transition: 100ms;
  transform: scale(0.98);
}*/

/*END - DARRACH ORIGINAL CODE - Johnny edit for Bootstrap */

/* GENERAL UI */

#loader {
  border: 4px solid var(--dark-grey);
  /* Light grey */
  border-top: 4px solid white;
  /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

/* HEADER */
/* Nav Bar with Brand Logo */
#navMain {
  background-color: var(--dark-green);
  color: white;
  padding: 0 20px;
  font-family: "Indie Flower", cursive;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar-toggler {
  background-color: #ffffff;
  border: none;
}

#logo-brand img {
  width: 200px;
  height: 60px;
}

.navbar ul a {
  color: white;
}

.navbar ul a:hover {
  background-color: var(--dark-orange);
  color: white;
}

.active {
  background-color: var(--dark-orange);
  color: rgb(255, 255, 255);
}

/* Nav Bar Ends */

/*hero*/
div.home-hero {
  /* animation: pan-image 30s linear infinite; */
  background-image: linear-gradient(rgba(9, 53, 29, 0.8), rgba(47, 65, 61, 0.8)),
    url("./assets/images/ireland-hero.jpg");
}

div.hero {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

div.hero .hero-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
}

div.hero .hero-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
}

.hero .btn-hero {
  font-size: 18px;
  font-weight: 500;
  color: white;
  border: 1px solid white;
  background-color: var(--dark-orange);
}

.hero .btn-hero:hover {
  background-color: var(--dark-green);
}

/*End hero*/

/* Intro */
.intro {
  padding: 2rem;
  background-color: transparent;
  color: aliceblue;
}

.intro h2 {
  font-weight: 600;
  text-decoration: none;
}

.intro p {
  letter-spacing: 1.5;
  font-size: large;
  font-weight: 400;
}

.intro strong {
  font-weight: 600;
  color: var(--bright-orange);
}

/* End Intro */

/* Outdoor Activities */

.out-activities {
  background-color: aliceblue;
  margin: 0;
  padding: 2rem;
  letter-spacing: 1.5;
}

.stat-map-col {
  max-width: 90%;
}

/* End Outdoor Activities */

/* Go outside */
.go-outside {
  padding: 2rem;
  background-color: transparent;
  color: aliceblue;
}

.go-outside h2 {
  font-weight: 600;
  text-decoration: none;
}

.go-outside p {
  letter-spacing: 1.5;
  font-size: large;
  font-weight: 400;
}

/* End go outside */

/*Start carousel*/

.inspiration {
  padding: 2rem;
  background-color: aliceblue;
}

.inspiration h2 {
  font-weight: 600;
  text-decoration: none;
}

.inspiration p {
  letter-spacing: 1.5;
  font-size: large;
  font-weight: 400;
}

.cards-wrapper {
  display: flex;
}

.card {
  margin: 0 0.5em;
  width: calc(100%);
}

.image-wrapper {
  height: 55vw;
}

.card-title {
  margin-top: 1px;
  padding: 0 0 5px 5px;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.cards-wrapper {
  background-color: #4267b2;
}

.card-link {
  text-decoration: none;
  color: black;
  font-family: "Indie Flower", cursive;
  font-size: 1.2rem;
  font-weight: 600;
}

.card-link:hover {
  background-color: var(--dark-orange);
  color: white;
}

.black-bg {
  background-color: rgba(0, 0, 0, 0.87) !important;
}

.no-decor {
  text-decoration: none !important;
}

/*End carousel*/

/* footer */

#footer {
  /*font-family: Indie Flower,cursive;*/
  background-color: rgba(47, 65, 61, 0.9);
  /* Johnny - test new color scheme */
  /*background-color: #54c6d9; original color */
}

.font-indie {
  font-family: Indie Flower, cursive;
}

.footer-text {
  font-size: 1rem;
}

.footer-link {
  font-size: 2rem;
}

.footer-link:hover {
  background-color: white;
  color: rgba(47, 65, 61, 0.9) !important;
}

.socials {
  color: white;
  font-size: 2rem;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.instagram:hover,
.instagram:focus {
  transition: all 0.2s;
  transform: scale(1.1);
  filter: brightness(1.1);
  cursor: pointer;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: white !important;
}

.facebook:hover,
.facebook:focus {
  transition: all 0.2s;
  transform: scale(1.1);
  filter: brightness(1.1);
  cursor: pointer;
  color: white !important;
  background-color: #2b4170;
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -ms-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(top, #3b5998, #2b4170);
}

.twitter:hover,
.twitter:focus {
  transition: all 0.2s;
  transform: scale(1.1);
  filter: brightness(1.1);
  cursor: pointer;
  color: white !important;
  background: linear-gradient(45deg, #1da1f2, #0d90e0);
  /* background: -webkit-radial-gradient(45deg, #1da1f2, #0d90e0);
  background: -moz-radial-gradient(45deg, #1da1f2, #0d90e0);
  background: -o-radial-gradient(45deg, #1da1f2, #0d90e0); */
}

.partners-row img {
  height: 25px;
  aspect-ratio: 4/1;
}

.partner-text {
  letter-spacing: 1px;
  font-size: large;
}

.btn-summer {
  background-color: var(--dark-orange);
  padding: 10px;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
}

.static-map {
  max-width: 600px;
  width: 100%;
  aspect-ratio: 1;
  background-image: url("./assets/images/static_ireland.jpg");
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  animation: pan-image 30s linear infinite;
}

.map-benefits {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.4rem;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.map-benefits li {
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.map-benefits li:nth-child(odd) {
  color: var(--bright-green);
}

.map-benefits li:nth-child(even) {
  color: var(--orange);
}

.benefits-img {
  width: 50px;
}

#btn-map {
  background-color: var(--dark-green);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3rem;
}

#btn-map:hover {
  background-color: var(--green);
  color: white;
}
/* .map-benefits li:nth-child(3) {
  color: var(--orange);
}

.map-benefits li:nth-child(4) {
  color: var(--bright-green);
}

.map-benefits li:nth-child(5) {
  color: rgb(164, 164, 28);
} */
/*Media Queries*/

h5 {
  color: white !important;
  padding: 1rem;
}

@media screen and (max-width: 1200px) {
  /* thank you note */

  #thank-you-note {
    width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  /* thank you note */

  #thank-you-note {
    width: 90vw;
  }
}

@media (min-width: 768px) {
  div.hero {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }

  div.hero .hero-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }

  div.hero .hero-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}

/* CARDS */

.card {
  margin: 10px;
}

.modal-content {
  background-color: var(--aeaDarkGreen);
  color: aliceblue;
}
.modal-content .close {
  color: aliceblue;
}

.modal-content iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

/* ANIMATIONS */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
  }

  50% {
    transform: translateY(0) scale(1.02);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  80% {
    transform: translateY(-35px);
  }

  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes pan-image {
  0% {
    background-position: 75% 42%;
    background-size: 100%;
  }

  20% {
    background-position: 84% 33%;
    background-size: 102%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 10% 85%;
    background-size: 150%;
  }

  40% {
    background-position: 20% 75%;
    background-size: 155%;
  }

  40.0001% {
    /* -- View 3 -- */

    background-position: 90% 78%;
    background-size: 155%;
  }

  60% {
    background-position: 90% 38%;
    background-size: 175%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 90% 15%;
    background-size: 220%;
  }

  80% {
    background-position: 80% 25%;
    background-size: 200%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 50% 50%;
    background-size: 165%;
  }

  100% {
    background-position: 60% 60%;
    background-size: 170%;
  }
}

section {
  opacity: 0;
  transform: translateY(50px) scale(0.9);
}

.animate {
  opacity: 1;
  transform: translateY(0px) scale(1);
  transition: opacity 1s ease, transform 0.5s ease;
}
